{{input type="text" value=query placeholder="hello"}}
<button {{action "sendPhrase"}}>Send</button><br>
Try "By country", "By category", "Set x axis to environment", "x axis: workers"
<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>